h1 {
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font-size: 80px;
  font-family: 'Monoton', cursive;
  color: #005bc3;
}

h3 {
  text-align: center;
  background-color: #ef9444;
  border-radius: 5px;
}

form {
  margin-top: 10px;
}

ul {
  background-color: #005bc3;
  border-radius: 5px;
  color: white;
  text-align: center;
  list-style: circle inside;
}

.resultLi {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.column {
  margin-bottom: 20px;
}

.row {
  margin-top: 40px;
  margin-bottom: 60px;
}

.parallaxImage {
  background-image: url("img1.jpg");
  min-height: 400px;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
}
